<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CurrentTheme" value="Dark"/>
		<add key="Width" value="1440"/>
		<add key="Height" value="1024"/>
		<add key="Top" value="30"/>
		<add key="Left" value="30"/>
		<add key="IsMaximized" value="False"/>
		
		<add key="MainColor" value="#7371FF"/>
		<add key="MainAdditionalColor" value="#00AD71"/>
		<add key="AdditionalColor" value="#FFFFFF"/>
		<add key="AccentColor" value="#0D1117"/>
		<add key="AccentAdditionalColor" value="#21262D"/>
		<add key="PercentPlusColor" value="#02b478"/>
		<add key="PercentMinusColor" value="#fd4534"/>
	</appSettings>
</configuration>